
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>ViewLogReport</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script language="javascript">
        function printAllReports(reports) {
            var content = "<table><tr><th>Id</th><th>User id</th><th>Type</th><th>Severity</th><th>Date posted</th><th>Bttn</th></tr>";
            for (var rep of reports) {
                console.log(rep);
                let deleteName = "delete-report-" + rep.Id + "-btn";
                content += "<tr><td>" + rep.Id + "</td>" +
                    "<td>" + rep.User_id + "</td>" +
                    "<td>" + rep.Type + "</td>" +
                    "<td>" + rep.Severity + "</td>" +
                    "<td>" + rep.Date + "</td>" +
                    "<td><button type=\"button\" id=\"" + deleteName + "\">Delete</button></td>" +
                    "</tr>";
            }

            content += "</table>";
            $("#reports").html(content);
        }

        function updateTypesFilter(mytype, uname) {
            var content = "<table><tr><th>Id</th><th>User id</th><th>Type</th><th>Severity</th><th>Date posted</th></tr>";
            var reports = [];
            $.getJSON(
                "Main/GetReportsOfType",
                { type: mytype, user: uname },
                function (data, status) {
                    reports = data["reports"];
                    console.log(reports);
                    for (var rep of reports) {
                        console.log(rep);
                        content += "<tr><td>" + rep.Id + "</td>" +
                            "<td>" + rep.User_id + "</td>" +
                            "<td>" + rep.Type + "</td>" +
                            "<td>" + rep.Severity + "</td>" +
                            "<td>" + rep.Date + "</td>" +
                            "</tr>";
                    }
                    content += "</table>";
                    $("#types-list").html(content);
                }
            );
            
        }

        function printAllTypes(types, uname) {
            var content = "";
            for (var rep of types) {
                content += "<option value=" + rep + ">" + rep + "</option>";
            }
            $("#types").html(content);
            $("#types").on('change', function (e) {
                var optionSelected = $("option:selected", this);
                console.log(optionSelected);
                updateTypesFilter(String(this.value), uname);
            });
        }


        function updateSeveritiesFilter(mySeverity, uname) {
            var content = "<table><tr><th>Id</th><th>User id</th><th>Type</th><th>Severity</th><th>Date posted</th></tr>";
            var reports = [];
            $.getJSON(
                "Main/GetReportsOfSeverity",
                { severity: mySeverity, user: uname },
                function (data, status) {
                    reports = data["reports"];
                    console.log(reports);
                    for (var rep of reports) {
                        console.log(rep);
                        content += "<tr><td>" + rep.Id + "</td>" +
                            "<td>" + rep.User_id + "</td>" +
                            "<td>" + rep.Type + "</td>" +
                            "<td>" + rep.Severity + "</td>" +
                            "<td>" + rep.Date + "</td>" +
                            "</tr>";
                    }
                    content += "</table>";
                    $("#severity-list").html(content);
                }
            );

        }

        function printAllSeverities(severities, uname) {
            var content = "";
            for (var rep of severities) {
                content += "<option value=" + rep + ">" + rep + "</option>";
            }
            $("#severity").html(content);
            $("#severity").on('change', function (e) {
                var optionSelected = $("option:selected", this);
                console.log(optionSelected);
                updateSeveritiesFilter(String(this.value), uname);
            });
        }

        function setDeleteButtons(reports) {
            for (const report of reports) {
                let buttonId = "#delete-report-" + report.Id + "-btn";
                console.log(buttonId);
                $(buttonId).click(function () {
                    if (confirm("Are you sure you want to delete the report with id " + report.Id + "?")) {
                        $.post("/Main/DeleteReport", {
                            id: report.Id
                        },
                            function (data, status) {
                                if (data["success"] === true) {
                                    location.reload();
                                }
                                else {
                                    alert("couldn't delete");
                                }
                            }
                        );
                    }
                    else {

                    }
                });
            }
        }

        $(document).ready(function () {
            if (sessionStorage["currentUser"] !== null) {
                
                Array.prototype.pushArray = function (arr) {
                    this.push.apply(this, arr);
                };
                let crtUser = sessionStorage["currentUser"];
                console.log(crtUser);
                let uname = JSON.parse(crtUser).username;
                $("#user").html("Welcome " + uname);
                var reports = [];
                $(function () {
                    $.getJSON(
                        "/Main/GetReportsOfUser", { username: uname }, function (data, status) {
                            reports.pushArray(data["reports"]);
                            printAllReports(reports);
                            setDeleteButtons(reports);
                        }
                    )
                });
                var types = [];
                $(function () {
                    $.getJSON(
                        "/Main/GetTypes", { username: uname }, function (data, status) {
                            types.pushArray(data["types"]);
                            console.log(types);
                            printAllTypes(types, uname);
                        }
                    )
                });
                var severities = [];
                $(function () {
                    $.getJSON(
                        "/Main/GetSeverities", { username: uname }, function (data, status) {
                            severities.pushArray(data["severities"]);
                            console.log(severities);
                            printAllSeverities(severities, uname);
                        }
                    )
                });
            }
        });
    </script>
</head>

<body>
    <a href="/Menu">Home</a>
    <p id="user" style="text-align:center"></p>
    <div style="display:flex; align-items:center; justify-content:center; ">
        <section id="reports"></section>
        <p>Filter by type</p>
        <div style="display:block">
            <select id="types" style="order:1"></select>
            <section id="types-list" style="order:2"></section>
        </div>
            <p>Filter by severity</p>
        <select id="severity"></select>
        <section id="severity-list"></section>
    </div>
</body>


</html>